html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  background: #677D6A; 
  font-family: "Roboto", sans-serif;
  color: #480032; 
  margin: 0;
  padding: 0;
}

/* Tabs styling */
.tab-view {
  position: relative; 
  margin: 1px;
  padding: 10px;
  border: 0;
  outline: none;
  font-size: 0;
  text-align: left;
}

.tab-view > input {
  position: absolute;
  display: none;
  width: 40%;
}

.tab-view > label {
  padding: 10px 20px;
  background: #522258; 
  color: white; 
  border-radius: 4px; 
  width: 40%;
  font-size: 14px;
  border: 1px solid #005792; 
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.tab-view > label:hover {
  background: #8C3061; 
  color: #ffffff; 
}

.tab-view > input:checked + label {
  background: #005792; 
  color: #ffffff; 
  border-color: #005792; 
}

.tab-view > ul {
  background: #ffffff; 
  border-radius: 4px; 
  box-shadow: none; 
}

.tab-view > ul > li {
  border-top: 1px solid #F2F4C3; 
}

.tab-view > ul > li:first-child {
  border-top: none; 
}

.tab-view-height-auto > ul {
  height: auto !important;
}

.tab-view-height-auto > ul > li {
  position: static;
  display: none;
  height: auto !important;
}

.tab-view-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.tab-view-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.tab-view-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.tab-view-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.tab-view-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.tab-view-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.tab-view-height-auto > .tab-content-7:checked ~ ul .tab-content-7,
.tab-view-height-auto > .tab-content-8:checked ~ ul .tab-content-8,
.tab-view-height-auto > .tab-content-9:checked ~ ul .tab-content-9,
.tab-view-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
  display: block;
}

.tab-view .grid-row {
  margin-top: 20px;
}

.tab-view .grid-row:after {
  content: "";
  display: table;
  clear: both;
}

.tab-view .grid-row:first-child {
  margin-top: 0;
}

.tab-view .grid-col {
  display: block;
  float: left;
  margin-left: 2%;
}

.tab-view .grid-col:first-child {
  margin-left: 0;
}

.tab-view .grid-col .inner {
  padding: 10px 0;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
}

.tab-view .grid-col-1 {
  width: 15%;
}

.tab-view .grid-col-2 {
  width: 32%;
}

.tab-view .grid-col-3 {
  width: 49%;
}

.tab-view .grid-col-4 {
  width: 66%;
}

.tab-view .grid-col-5 {
  width: 83%;
}

.tab-view .grid-col-offset-1 {
  margin-left: 19%;
}

.tab-view .grid-col-offset-1:first-child {
  margin-left: 17%;
}

.tab-view .grid-col-offset-2 {
  margin-left: 36%;
}

.tab-view .grid-col-offset-2:first-child {
  margin-left: 34%;
}

.tab-view .grid-col-offset-3 {
  margin-left: 53%;
}

.tab-view .grid-col-offset-3:first-child {
  margin-left: 51%;
}

.tab-view .grid-col-offset-4 {
  margin-left: 70%;
}

.tab-view .grid-col-offset-4:first-child {
  margin-left: 68%;
}

.tab-view .grid-col-offset-5:first-child {
  margin-left: 85%;
}

.tab-view .typography {
  color: #666;
}

.tab-view .typography h1,
.tab-view .typography h2,
.tab-view .typography h3,
.tab-view .typography h4,
.tab-view .typography h5,
.tab-view .typography h6 {
  margin: 40px 0 0 0;
  padding: 0;
  text-align: left;
  color: #480032; 
}

.tab-view .typography h1 {
  font-size: 32px;
  line-height: 40px;
}

.tab-view .typography h2 {
  font-size: 28px;
  line-height: 36px;
}

.tab-view .typography h3 {
  font-size: 24px;
  line-height: 32px;
}

.tab-view .typography h4 {
  font-size: 20px;
  line-height: 28px;
}

.tab-view .typography h5 {
  font-size: 16px;
  line-height: 24px;
}

.tab-view .typography h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.tab-view .typography p {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 22px;
  text-align: left;
}

.tab-view .typography ul,
.tab-view .typography ol {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.tab-view .typography li {
  position: relative;
  margin-top: 5px;
  padding-left: 20px;
  line-height: 20px;
}

.tab-view .typography li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #005792; 
}

.tab-view .typography ol {
  list-style: decimal;
}

.tab-view .typography .highlight {
  color: #FC92E3; 
  font-weight: 700;
}


.total-count {
  color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px; 
  padding: 10px; 
  z-index: 1000; 
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 40vw; /* Use 'vw' (viewport width) for responsiveness */
  max-width: 40%; /* Ensure it doesn't exceed 40% of container width */
  border: 1px solid #005792;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
}

/* Ensure button styles are applied consistently */
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #522258; 
  border: 1px solid #005792;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  transition: background 0.3s ease, border-color 0.3s ease; 
  cursor: pointer;
  border-radius: 4px;
  margin: 0; 
}

button:hover {
  background: #C63C51; 
  border-color: #C63C51; /* Match border color with the background on hover */
}
